<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gamers</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/brackets.css">
    <link rel="stylesheet" href="assets/css/brackets2.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/iframe-1.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Newsletter-v2.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navtop">
        <div class="container-fluid"><a class="navbar-brand" href="index.html" style="color: #fff;">Gamers Community</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"><i class="fa fa-list"></i></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="comingsoon.html">Event</a></li>
                    <li class="nav-item"><a class="nav-link" href="comingsoon.html">Community</a></li>
                    <li class="nav-item"><a class="nav-link" href="comingsoon.html">E-center</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section class="menu-atas">
        <div class="row row-detail">
            <div class="col col-icon-detail">
                <a class="link-bracket" href="review.html">
                    <div class="col-div-menu"><i class="material-icons">star_half</i></div>
                    <div class="col-div-span"><span class="span-bracket">Event</span></div>
                </a>
            </div>
            <div class="col col-icon-detail">
                <div class="col-div-menu"><i class="material-icons">phonelink_setup</i></div>
                <div><span class="span-bracket">Review</span></div>
            </div>
            <div class="col col-icon-detail">
                <a class="link-bracket" href="brackets.html">
                    <div class="col-div-menu"><i class="material-icons">line_style</i></div>
                    <div><span class="span-bracket">Bracket</span></div>
                </a>
            </div>
            <div class="col col-icon-detail">
                <div class="col-div-menu"><i class="material-icons">group</i></div>
                <div><span class="span-bracket">Match</span></div>
            </div>
        </div>
    </section><div class="heading-tour">
    <h1>BO 16 - 2021 Tournament Bracket</h1>
    </div>
<div class="scroll-list">
<main id="tournament">
  <ul class="round round-1">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>79</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">NC A&T <span>48</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Colo St <span>84</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Missouri <span>72</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Oklahoma St <span>55</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Oregon <span>68</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Saint Louis <span>64</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">New Mexico St <span>44</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Memphis <span>54</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">St Mary's <span>52</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Mich St <span>65</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Valparaiso <span>54</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Creighton <span>67</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Cincinnati <span>63</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Duke <span>73</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Albany <span>61</span></li>

    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round round-2">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>82</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Colo St <span>56</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Oregon <span>74</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Saint Louis <span>57</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Memphis <span>48</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Mich St <span>70</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Creighton <span>50</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Duke <span>66</span></li>

    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round round-3">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>77</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Oregon <span>69</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Mich St <span>61</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Duke <span>71</span></li>

    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round round-4">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>85</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Duke <span>63</span></li>
    
    <li class="spacer">&nbsp;</li>
  </ul>   
    
<ul class="round round-5">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>85</span></li>
    <li class="spacer">&nbsp;</li>
  </ul>   
</main>
</div><div class="heading-tour">
    <h1>BO 8 - 2021 Tournament Bracket</h1>
    </div>
<div class="scroll-list">
<main id="tournament">
  <ul class="round round-1">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>79</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">NC A&T <span>48</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Colo St <span>84</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Missouri <span>72</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Oklahoma St <span>55</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Oregon <span>68</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Saint Louis <span>64</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">New Mexico St <span>44</span></li>

    <li class="spacer">&nbsp;</li>
    
  </ul>
  <ul class="round round-2">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>82</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Colo St <span>56</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Oregon <span>74</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Saint Louis <span>57</span></li>

    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round round-3">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>77</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Oregon <span>69</span></li>

    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round round-4">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>85</span></li>
    
    <li class="spacer">&nbsp;</li>
  </ul>   
</main>
</div><div class="heading-tour">
    <h1>BO 32 - 2021 Tournament Bracket</h1>
    </div>
<div class="scroll-list">
<main id="tournament">
  <ul class="round round-1">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>79</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">NC A&T <span>48</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Colo St <span>84</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Missouri <span>72</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Oklahoma St <span>55</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Oregon <span>68</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Saint Louis <span>64</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">New Mexico St <span>44</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Memphis <span>54</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">St Mary's <span>52</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Mich St <span>65</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Valparaiso <span>54</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Creighton <span>67</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Cincinnati <span>63</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Duke <span>73</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Albany <span>61</span></li>

      <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>79</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">NC A&T <span>48</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Colo St <span>84</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Missouri <span>72</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Oklahoma St <span>55</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Oregon <span>68</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Saint Louis <span>64</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">New Mexico St <span>44</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Memphis <span>54</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">St Mary's <span>52</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Mich St <span>65</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Valparaiso <span>54</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Creighton <span>67</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Cincinnati <span>63</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Duke <span>73</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Albany <span>61</span></li>

    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round round-2">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>82</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Colo St <span>56</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Oregon <span>74</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Saint Louis <span>57</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Memphis <span>48</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Mich St <span>70</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Creighton <span>50</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Duke <span>66</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>82</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Colo St <span>56</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Oregon <span>74</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Saint Louis <span>57</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Memphis <span>48</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Mich St <span>70</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Creighton <span>50</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Duke <span>66</span></li>

    <li class="spacer">&nbsp;</li>
      
  </ul>
  <ul class="round round-3">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>77</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Oregon <span>69</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Mich St <span>61</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Duke <span>71</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>77</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Oregon <span>69</span></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top ">Mich St <span>61</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">Duke <span>71</span></li>

    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round round-4">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>85</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Duke <span>63</span></li>
    
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>85</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Duke <span>63</span></li>
    
    <li class="spacer">&nbsp;</li>
  </ul>   
    
<ul class="round round-5">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>85</span></li>
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner">Lousville <span>85</span></li>
    <li class="spacer">&nbsp;</li>
  </ul>   
</main>
</div>
    <nav class="navbar navbar-light fixed-bottom nav-bot">
        <div class="container-fluid">
            <div class="row nav-row">
                <div class="col nav-col"><a class="nav-bot-link" href="index.html"><i class="material-icons icon-nav">home</i><p class="text-nav">Home</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="review.html"><i class="material-icons icon-nav">star_half</i><p class="text-nav">Event</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">nature_people</i><p class="text-nav">Community</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">group_add</i><p class="text-nav">E-Center</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">menu</i><p class="text-nav">Menu</p></a></div>
            </div>
        </div>
    </nav>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/modal.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>