<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gamers</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/brackets.css">
    <link rel="stylesheet" href="assets/css/brackets2.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/iframe-1.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Newsletter-v2.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="body-index">
    <nav class="navbar navbar-light navbar-expand-md fixed-top navtop">
        <div class="container-fluid"><a class="navbar-brand" href="index.html" style="color: #fff;">Gamers Community</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"><i class="fa fa-list"></i></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="comingsoon.html">Event</a></li>
                    <li class="nav-item"><a class="nav-link" href="comingsoon.html">Community</a></li>
                    <li class="nav-item"><a class="nav-link" href="comingsoon.html">E-center</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section class="user-info">
        <div class="d-inline-flex user-info-image pad-user"><img class="rounded-circle" src="assets/img/DSC08384%20copy.jpg"></div>
        <div class="text-name pad-user"><span>Dicky Prabowo</span></div>
        <div class="button-user pad-user"><a class="btn btn-primary btn-user left1" role="button" href="#addteam" data-toggle="modal">+ Add Team</a><a class="btn btn-primary btn-user right1" role="button" href="#addevent" data-toggle="modal">+ Add Event</a></div>
    </section>
    <section class="section-category">
        <div class="row row-category">
            <div class="col-3 col-category">
                <a class="link-category" href="review.html">
                    <div><img class="image-category" src="assets/img/IconMenu/trophy.png" style="/*box-shadow: 0px 0px 11px 0px rgb(255,255,255);*//*border-radius: 34px;*/"></div><span>Tournament</span></a>
            </div>
            <div class="col-3 col-category">
                <a class="link-category" href="turnamen.html">
                    <div><img class="image-category" src="assets/img/IconMenu/live-streaming.png"></div><span>Live Stream</span></a>
            </div>
            <div class="col-3 col-category">
                <a class="link-category" href="news.html">
                    <div><img class="image-category" src="assets/img/IconMenu/news.png"></div><span>News</span></a>
            </div>
            <div class="col-3 col-category">
                <a class="link-category" href="comingsoon.html">
                    <div><img class="image-category" src="assets/img/IconMenu/gold-medal.png"></div><span>League</span></a>
            </div>
            <div class="col-3 col-category">
                <a class="link-category" href="comingsoon.html">
                    <div><img class="image-category" src="assets/img/IconMenu/carts.png"></div><span>Store</span></a>
            </div>
        </div>
    </section>
    <section class="background-trans section-border">
        <div class="scroll-list"><button class="btn btn-primary button-list button-style" type="button">Mobile Legend</button><button class="btn btn-primary button-list button-style" type="button">Free Fire</button><button class="btn btn-primary button-list button-style" type="button">Dota 2</button>
            <button
                class="btn btn-primary button-list button-style" type="button">CSGO</button><button class="btn btn-primary button-list button-style" type="button">PUBG</button><button class="btn btn-primary button-list button-style" type="button">PUBG Mobile</button><button class="btn btn-primary button-list button-style"
                    type="button">PUBG Mobile</button><button class="btn btn-primary button-list button-style" type="button">PUBG Mobile</button></div>
    </section>
    <section class="background-trans section-border">
        <div class="scroll-list">
            <div class="image-banner background-trans"><img class="list-image" src="assets/img/EventBanner/newsbanner.jpeg"><img class="list-image" src="assets/img/optimized_large_thumb_stage.jpeg"><img class="list-image" src="assets/img/EventBanner/newsbanner.jpeg"><img class="list-image" src="assets/img/EventBanner/newsbanner.jpeg"></div>
        </div>
    </section>
    <div class="article-list news-section">
        <div class="container">
            <div class="intro">
                <h2 class="text-center heading-intro">Latest News</h2>
                <p class="text-center">Latest news about E-Sports Community</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#modnews1" data-toggle="modal"><img class="img-fluid" src="assets/img/news1.jpeg"></a>
                    <h3 class="name">Mobile Legends</h3>
                    <p class="description">Anti Kalah! 3 Hero Terbaik Mobile Legends Siap Hadir Melawan Beatrix</p><a class="action" href="#modnews1" data-toggle="modal"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#modnews2" data-toggle="modal"><img class="img-fluid" src="assets/img/news3.jpeg"></a>
                    <h3 class="name">PUBG Mobile</h3>
                    <p class="description">Terbatas! Cepat Klaim 4 Kode Redeem PUBG Mobile 12 Oktober 2021</p><a class="action" href="#modnews2" data-toggle="modal"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#modnews3" data-toggle="modal"><img class="img-fluid" src="assets/img/news2.jpeg"></a>
                    <h3 class="name">Dota 2</h3>
                    <p class="description">Kilas Balik Tim Pemenang The International DOTA 2 Dari TI1 - T19</p><a class="action" href="#modnews3" data-toggle="modal"><i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light fixed-bottom nav-bot">
        <div class="container-fluid">
            <div class="row nav-row">
                <div class="col nav-col"><a class="nav-bot-link" href="index.html"><i class="material-icons icon-nav">home</i><p class="text-nav">Home</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="review.html"><i class="material-icons icon-nav">star_half</i><p class="text-nav">Event</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">nature_people</i><p class="text-nav">Community</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">group_add</i><p class="text-nav">E-Center</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">menu</i><p class="text-nav">Menu</p></a></div>
            </div>
        </div>
    </nav>
    <div class="modal fade" role="dialog" tabindex="-1" id="modnews1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">News</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div><div class="modal-body">

<iframe class="modal-news" src="https://www.suara.com/tekno/2021/10/11/121505/anti-kalah-3-hero-terbaik-mobile-legends-siap-melawan-beatrix?page=all"
                                frameborder="0"></iframe>


</div>
                <div class="modal-footer"><button class="btn btn-light btn-news-mod" type="button" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modnews2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">News</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div><div class="modal-body">

<iframe class="modal-news" src="https://www.suara.com/tekno/2021/10/12/121721/terbatas-cepat-klaim-4-kode-redeem-pubg-mobile-12-oktober-2021"
                                frameborder="0"></iframe>


</div>
                <div class="modal-footer"><button class="btn btn-light btn-news-mod" type="button" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modnews3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">News</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div><div class="modal-body">

<iframe class="modal-news" src="https://esports.id/dota-2/news/2021/10/1bd2caf96a17d892c2c7e9959549cfc7/kilas-balik-tim-pemenang-the-international-dota-2-dari-ti1-ti9"
                                frameborder="0"></iframe>


</div>
                <div class="modal-footer"><button class="btn btn-light btn-news-mod" type="button" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="addevent">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Event</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <form>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Nama" nama="nama" required=""></div>
                        <div class="form-group"><input class="form-control deskripsi" type="text" placeholder="Deskripsi" deskripsi="deskripsi" required=""></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Game" game="game" required=""></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Penyelenggara" penyelenggara="penyelenggara" required=""></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Komunitas" komunitas="komunitas" required=""></div>
                        <div class="form-group"><select class="form-control" required=""><optgroup label="Mode Tournament"><option value="bo1" selected="">Best Of 1</option><option value="bo3">Best Of 3</option><option value="elemination">Elemination</option></optgroup></select></div>
                        <div
                            class="form-group"><input class="form-control" type="text" placeholder="Lokasi" lokasi="lokasi" required=""></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Total Hadiah" total_hadiah="total_hadiah" required=""></div>
                <div class="form-group"><input class="form-control" type="number" placeholder="Maksimal Team" max_team="max_team" required=""></div>
                </form>
            </div>
            <div class="modal-footer"><button class="btn btn-light btn-news-mod warna" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
        </div>
    </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="addteam">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Event</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <form>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Nama" nama="nama" required=""></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Ketua" ketua="ketua" required=""></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Anggota 1" anggota1="anggota1" required=""></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Anggota 2" anggota2="anggota2" required=""></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Anggota 3" anggota3="anggota3" required=""></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Anggota 4" anggota4="anggota4" required=""></div>
                        <div class="form-group file-input1">
                            <p class="p-logo">Logo</p><input type="file" class="file-input-choose" required="" logo="logo"></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Status" status="status" required=""></div>
                    </form>
                </div>
                <div class="modal-footer"><button class="btn btn-light btn-news-mod warna" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/modal.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>