<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gamers</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/brackets.css">
    <link rel="stylesheet" href="assets/css/brackets2.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/iframe-1.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Newsletter-v2.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navtop">
        <div class="container-fluid"><a class="navbar-brand" href="index.html" style="color: #fff;">Gamers Community</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"><i class="fa fa-list"></i></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="comingsoon.html">Event</a></li>
                    <li class="nav-item"><a class="nav-link" href="comingsoon.html">Community</a></li>
                    <li class="nav-item"><a class="nav-link" href="comingsoon.html">E-center</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="article-list news-section">
        <div class="container">
            <div class="intro">
                <h2 class="text-center heading-intro">Latest News</h2>
                <p class="text-center">Latest news about E-Sports Community</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#modnews1" data-toggle="modal"><img class="img-fluid" src="assets/img/news1.jpeg"></a>
                    <h3 class="name">Mobile Legends</h3>
                    <p class="description">Anti Kalah! 3 Hero Terbaik Mobile Legends Siap Hadir Melawan Beatrix</p><a class="action" href="#modnews1" data-toggle="modal"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#modnews2" data-toggle="modal"><img class="img-fluid" src="assets/img/news3.jpeg"></a>
                    <h3 class="name">PUBG Mobile</h3>
                    <p class="description">Terbatas! Cepat Klaim 4 Kode Redeem PUBG Mobile 12 Oktober 2021</p><a class="action" href="#modnews2" data-toggle="modal"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#modnews3" data-toggle="modal"><img class="img-fluid" src="assets/img/news2.jpeg"></a>
                    <h3 class="name">Dota 2</h3>
                    <p class="description">Kilas Balik Tim Pemenang The International DOTA 2 Dari TI1 - T19</p><a class="action" href="#modnews3" data-toggle="modal"><i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light fixed-bottom nav-bot">
        <div class="container-fluid">
            <div class="row nav-row">
                <div class="col nav-col"><a class="nav-bot-link" href="index.html"><i class="material-icons icon-nav">home</i><p class="text-nav">Home</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="review.html"><i class="material-icons icon-nav">star_half</i><p class="text-nav">Event</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">nature_people</i><p class="text-nav">Community</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">group_add</i><p class="text-nav">E-Center</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">menu</i><p class="text-nav">Menu</p></a></div>
            </div>
        </div>
    </nav>
    <div class="modal fade" role="dialog" tabindex="-1" id="modnews1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">News</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div><div class="modal-body">

<iframe class="modal-news" src="https://www.suara.com/tekno/2021/10/11/121505/anti-kalah-3-hero-terbaik-mobile-legends-siap-melawan-beatrix?page=all"
                                frameborder="0"></iframe>


</div>
                <div class="modal-footer"><button class="btn btn-light btn-news-mod" type="button" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modnews2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">News</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div><div class="modal-body">

<iframe class="modal-news" src="https://www.suara.com/tekno/2021/10/12/121721/terbatas-cepat-klaim-4-kode-redeem-pubg-mobile-12-oktober-2021"
                                frameborder="0"></iframe>


</div>
                <div class="modal-footer"><button class="btn btn-light btn-news-mod" type="button" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modnews3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">News</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div><div class="modal-body">

<iframe class="modal-news" src="https://esports.id/dota-2/news/2021/10/1bd2caf96a17d892c2c7e9959549cfc7/kilas-balik-tim-pemenang-the-international-dota-2-dari-ti1-ti9"
                                frameborder="0"></iframe>


</div>
                <div class="modal-footer"><button class="btn btn-light btn-news-mod" type="button" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/modal.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>