<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gamers</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/brackets.css">
    <link rel="stylesheet" href="assets/css/brackets2.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/iframe-1.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Newsletter-v2.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="body-bracket">
    <nav class="navbar navbar-light navbar-expand-md fixed-top navtop">
        <div class="container-fluid"><a class="navbar-brand" href="index.html" style="color: #fff;">Gamers Community</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"><i class="fa fa-list"></i></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="comingsoon.html">Event</a></li>
                    <li class="nav-item"><a class="nav-link" href="comingsoon.html">Community</a></li>
                    <li class="nav-item"><a class="nav-link" href="comingsoon.html">E-center</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section class="menu-atas">
        <div class="row row-detail">
            <div class="col col-icon-detail">
                <a class="link-bracket" href="review.html">
                    <div class="col-div-menu"><i class="material-icons">star_half</i></div>
                    <div class="col-div-span"><span class="span-bracket">Event</span></div>
                </a>
            </div>
            <div class="col col-icon-detail">
                <div class="col-div-menu"><i class="material-icons">phonelink_setup</i></div>
                <div><span class="span-bracket">Review</span></div>
            </div>
            <div class="col col-icon-detail">
                <a class="link-bracket" href="brackets.html">
                    <div class="col-div-menu"><i class="material-icons">line_style</i></div>
                    <div><span class="span-bracket">Bracket</span></div>
                </a>
            </div>
            <div class="col col-icon-detail">
                <div class="col-div-menu"><i class="material-icons">group</i></div>
                <div><span class="span-bracket">Match</span></div>
            </div>
        </div>
    </section>
    <section class="section-review">
        <div><img src="assets/img/optimized_large_thumb_stage.jpeg"></div>
        <div class="div-p">
            <p class="p1">Pendaftaran dibuka</p>
            <p>Dari Senin - Jum'at 19:00 WIB, 02 September 2021</p>
        </div>
        <div class="div-p">
            <p class="p1">Turnamen dimulai</p>
            <p>Senin 12 September 2021, Pukul 19:00 WIB</p>
        </div>
        <div class="div-p">
            <p class="p1">Tim yang terdaftar</p>
            <p>51/20</p>
        </div>
        <div class="div-button-peserta"><button class="btn btn-primary btn-join" type="button">Semua Peserta</button></div><button class="btn btn-primary join-tour btn-join" type="button">Join Tournament</button></section>
    <section class="section-desk">
        <div class="div-desk">
            <h1>Deskripsi Tournament</h1>
        </div>
        <div class="div-font">
            <p>Pekan Olahraga Nasional atau PON 2021 sebentar lagi hadir! Berbeda dengan biasanya, PON 2021 kali ini akan menorehkan sejarah bagi komunitas esports Indonesia karena untuk pertama kalinya, esports akan menjadi salah satu cabang olahraga&nbsp;PON
                2021 yang akan diadakan di Papua tersebut akan menghadirkan game esports yang sudah akrab di telinga para komunitas esports.&nbsp;Sudah tidak sabar menonton pertandingannya? Ayo, dukung perwakilan esports dari daerahmu masing-masing dan
                mari kita bersama-sama membawa esports Indonesia ke panggung yang lebih tinggi lagi!&nbsp;<br>#localpride#torangbisa</p>
            <p><strong>Penyelengara:</strong> Admin PBESI</p>
            <p><strong>Komunitas:</strong> PB ESI</p>
            <p><strong>Mode Turnamen:</strong> Single Elemination</p>
            <p><strong>Lokasi:</strong> Online Tournament</p>
        </div>
        <div class="div-desk">
            <h1>Champion</h1>
        </div>
        <div class="div-font">
            <p><strong>Team:</strong> Admin PBESI</p>
            <p><strong>Komunitas:</strong> PB ESI</p>
            <p><strong>Mode Turnamen:</strong> Single Elemination</p>
            <p><strong>Lokasi:</strong> Online Tournament</p>
        </div>
    </section>
    <nav class="navbar navbar-light fixed-bottom nav-bot">
        <div class="container-fluid">
            <div class="row nav-row">
                <div class="col nav-col"><a class="nav-bot-link" href="index.html"><i class="material-icons icon-nav">home</i><p class="text-nav">Home</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="review.html"><i class="material-icons icon-nav">star_half</i><p class="text-nav">Event</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">nature_people</i><p class="text-nav">Community</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">group_add</i><p class="text-nav">E-Center</p></a></div>
                <div class="col nav-col"><a class="nav-bot-link" href="comingsoon.html"><i class="material-icons icon-nav">menu</i><p class="text-nav">Menu</p></a></div>
            </div>
        </div>
    </nav>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/modal.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>